.card {
  width: 300px;
  height: 300px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  text-align: center;
  width: 100vw;
}

.cardWrapper {
  width: 100%;
}

#asdki {
  height: 1000px;
}

.card {
  padding: 30px;
  border: 1px solid lime;
  border-radius: 1000px;
}

.card:hover {
  box-shadow: 1px 0px 25px 13px rgba(0, 255, 0, 0.75);
  -webkit-box-shadow: 1px 0px 25px 13px rgba(0, 255, 0, 0.75);
  -moz-box-shadow: 1px 0px 25px 13px rgba(0, 255, 0, 0.75);
  cursor: pointer;
}

.cardName {
  color: limegreen;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1864px) {
  .card {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 1600px) {
  .card {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 1330px) {
  .card {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 1150px) {
  .card {
    width: 150px;
    height: 150px;
  }

  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
